<% include ../partials/header %>
<div class="container">
  <h4><%=video.title%></h4>
</div>
<div class="video-container">
  <iframe src='//www.youtube.com/embed/<%= video.embedCode %>?rel=0' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen></iframe> 
</div>

<div class="container">
  <p><%=video.description%></p>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large deep-orange waves-effect waves-light" href="/videos/<%= video.id %>/edit">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        <li>
          <form action="/videos/<%= video._id %>?_method=DELETE" method="POST">
            <button class="btn-floating red"><i class="material-icons">delete_forever</i></button>
          </form>
        </li>
      </ul>
    </div>

<% include ../partials/footer %>
